.input {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  color: $color-grey;
  border: 0;
  background-color: $color-grey-light;
  box-sizing: border-box;
}

.textarea {
    width: 100%;
    padding: 0 20px;
    color: $color-grey;
    border: 0;
    background-color: $color-grey-light;
    box-sizing: border-box;
    resize: none;
}

.select {
    width: 100%;
    padding: 0 20px;
    color: $color-grey;
    border: 0;
    background-color: $color-grey-light;
    box-sizing: border-box;
    resize: none;
    height: 50px;
    cursor: pointer;
}

.form-group {
    width: 100%;
    margin-bottom: 13px;
}

.form-label {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

@media only screen and (max-width: 991px) {
    .form-label {
        font-size: 1.2rem;
    }
}