.careers {
  margin: 60px 0;

  .heading--primary {
    color: $color-grey-dark;
  }

  &-container {
    width: 100%;
  }

  &__cards {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  &__card {
    width: 310px;
    background-color: $color-grey-light;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    border-left: 5px solid $second-color;
    margin-right: 16px;
    margin-bottom: 40px;
    position: relative;
    z-index: 999;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $second-color;
      transform: translateX(-100%);
      z-index: -1;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      .careers__card-title,
      .careers__card-body {
        color: #fff;
      }

      &::after {
        transform: translateX(0);
      }
    }
  }

  &__card-title {
    font-size: 1.875rem;
    color: $color-grey-dark;
    font-weight: 500;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
  }

  &__card-body {
    line-height: 33px;
    font-size: 1rem;
    color: $color-grey-dark;
    transition: all 0.5s ease-in-out;
  }

  &__card-button {
    margin-top: 16px;
  }

  // Career Details
  .career-details {
    color: $color-grey-dark;

    &__about-job {
      margin: 40px 0;
    }

    &__about-job--heading {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 30px;
    }

    &__about-job--list {
      list-style: disc;
      margin-left: 40px;
    }
    &__about-job--item {
      font-size: .9rem;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .careers {
    &__cards {
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 800px) {
  .careers {
    &__card {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
